/* Variable */
/* mixins */
body {
  font-size: 14px; }

nav ul,
.light-traffic {
  padding: 0;
  margin: 0;
  list-style: none; }
  nav ul li,
  .light-traffic li {
    display: inline-block;
    margin-left: -2px;
    margin-right: 2em; }

/* #style01 */
.light {
  width: 100px;
  height: 100px;
  animation-duration: 3s; }

@keyframes traffic1 {
  from {
    background: red; }
  to {
    background: yellow; } }

@keyframes traffic2 {
  from {
    background: yellow; }
  to {
    background: green; } }

@keyframes traffic3 {
  from {
    background: green; }
  to {
    background: red; } }

.light--red {
  background: red;
  animation-name: traffic1; }

.light--yellow {
  background: yellow;
  animation-name: traffic2; }

.light--green {
  background: green;
  animation-name: traffic3; }

/* #style02 */
.fade-in-overlay {
  position: relative;
  width: 30%; }
  .fade-in-overlay img {
    display: block;
    width: 100%;
    height: auto; }
  .fade-in-overlay .overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #008CBA;
    transition: 0.5s ease-in; }
  .fade-in-overlay .image-intro {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.fade-in-overlay:hover .overlay {
  opacity: 1;
  cursor: pointer; }
